<!DOCTYPE html>
<html>
  <head>
    <title>Loan Interest Calculator</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    <div class="container">
      <div class="container-heading">
        <h1>Loan Interest Calculator</h1>
      </div>
      <form method="POST" action="/">
        <div class="output-box">
          {% if total_interest is not none %}

          <p>Total Interest Due:</p>
          <p id="total-interest-due">{{ total_interest }}</p>
          {% endif %}
        </div>
        <label for="landAdvance"></label>
        <input
          type="number"
          id="landAdvance"
          name="landAdvance"
          placeholder="Land Advance"
        />
        <br />
        <label for="monthlyRate"></label>
        <input
          type="number"
          step="0.01"
          id="monthlyRate"
          name="monthlyRate"
          placeholder="Monthly Rate (%):"
        />
        <br />
        <label for="defaultPeriodStart"></label>
        <input
          type="text"
          id="defaultPeriodStart"
          name="defaultPeriodStart"
          placeholder="Default Period Start"
        />
        <br />
        <label for="defaultPeriodEnd"></label>
        <input
          type="text"
          id="defaultPeriodEnd"
          name="defaultPeriodEnd"
          placeholder="Default Period End"
        />
        <br />
        <div class="container-button">
          <button type="submit">CALCULATE</button>
          <button type="reset">RESET</button>
        </div>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const resetButton = document.querySelector('button[type="reset"]');
        resetButton.addEventListener("click", () => {
          document.getElementById("landAdvance").value = "";
          document.getElementById("monthlyRate").value = "";
          document.getElementById("defaultPeriodStart").value = "";
          document.getElementById("defaultPeriodEnd").value = "";
          const totalInterestDueElement = document.querySelector(
            "#total-interest-due"
          );
          totalInterestDueElement.value = "";
          totalInterestDueElement.style.display = "none";
          fetch("/", { method: "POST", body: "reset=true" });
        });
      });
    </script>

    <script>
      const defaultPeriodStartInput =
        document.getElementById("defaultPeriodStart");
      flatpickr(defaultPeriodStartInput);
      const defaultPeriodEndInput = document.getElementById("defaultPeriodEnd");
      flatpickr(defaultPeriodEndInput);

      const form = document.querySelector("form");
      form.addEventListener("submit", function (event) {

        const landAdvanceInput = document.getElementById("landAdvance");
        const monthlyRateInput = document.getElementById("monthlyRate");

        if (landAdvanceInput.value === "" || monthlyRateInput.value === "") {
          event.preventDefault(); // Prevent form submission
          alert("Please fill out the form before submitting");
        }
      });
    </script>
  </body>
</html>
